/*header*/
header{
	width: 100%;
	height: 60px;
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
}
.logo img{
	width:60px;
	height:50px;
	 margin-top:5px;
}
.logo{
	width:200px;
}
.logo h1{
	font-size:25px;
	line-height: 60px;
	margin-left:70px;
}
.login>a:nth-child(1){
	border-right:1px solid #000000;
	
}
.login.hide{
	display: none;
}
.login>a{
	font-size:18px;
	display: inline-block;
	margin-top:22px;
	padding:0 20px;
	height:18px;
	line-height:20px;
}
.login-after{
	/*display: none;*/
	font-size:18px;
	height: 60px;
	width: 120px;
	text-align: center;
	line-height:60px;
	position: relative;
	background: #ca7;
}

.login-after span{

}

.login .login-list{
	/*display: none;*/
	position: absolute;
	/*padding-top: 10px;*/
	text-align: left;
	top: 58px;
	left: 0;
	width: 120px;
	background: #ccc;
	padding: 0 0 0 16px ;
	z-index: 9;
	height: 0;
	overflow: hidden;
	line-height: 24px;
	font-size: 16px;
	-webkit-transition: height .3s;
	-moz-transition: height .3s;
	-ms-transition: height .3s;
	-o-transition: height .3s;
	transition: height .3s;
}

.login:hover .login-list{
	/*display: block;*/
	height: 240px;
}


.login .login-list h3{
	height: 28px;
	margin-top: 10px;
	line-height: 30px;
}

.login .login-list li {
	height: 24px;
	text-align: left;
}

.login .login-list li a{
	text-align: left;
	font-size: 14px;
}





.login a:hover{
	color:#ca7;
}
/*登录弹窗*/
.login-window{
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c9000000);
	background-color: rgba(0,0,0,.3);
	display: none;
}
.login-window>.wrap{
	position: relative;
	width:100%;
	height: 100%;
}
.login-box{
	width: 350px;
	height: 400px;
	background-color: #fff;
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-175px;
	margin-top:-200px;
}
.top-bar{
	height:40px;
	padding:5px 15px;
	line-height:30px;
	background-color: #f6f7f8;
	border-bottom:1px solid #ccc;
}
.top-bar h3{
	float: left;
}
.top-bar .iconfont{
	cursor: pointer;
	font-size:18px;
}
.input-area {
	padding:30px 15px;
	position: relative;
}
.input-area #user,.input-area #pwd{
	margin:15px 0;
	width:100%;
	height:40px;
	padding-left:25px;
}
.input-area .iconfont{
	position: absolute;
	font-size:20px;
	color:#ca7;
}
.user-icon{
	top:48px;
	left:20px;
}
.lock-icon{
	top:117px;
	left:20px;
}
#submit{
	width:100%;
	background-color: #ca7;
	letter-spacing: 5px;
	text-align: center;
	line-height: 40px;
	color:#fff;
	font-size:20px;
	border:none;
	cursor: pointer;
	margin:15px 0;
}
.input-area a{
	font-size:13px;
	color:#ca7;
}

.input-area p>span{
	color: #f26;
	display: none;
	font-size:13px;
	padding-left: 10px;
}

.input-area p>span.error{
	display: inline-block;
}
#submit:hover{
	opacity:.9;
}
.input-area a:hover{
	text-decoration: underline;
}
