.menu>ul>li.open{
	height:auto;
}
.menu>ul{
	min-height: 300px;
}
.menu{
	padding:15px 10px;
	border:1px solid;
	width:200px;
}
.menu>ul h2{
	padding-bottom:10px;
}
.menu>ul>li{
	height:32px;
	overflow: hidden;
	transition:height 0.2s;
	cursor:pointer;
}
.menu>ul>li p{
	padding:5px 0;
	background-color: #CCAA77;
	text-align: center;
	color:#fff;
	border-bottom: 1px solid #F6F7F8;
}
.menu>ul>li ul>li{
	background-color: #ddd;
	padding:5px 10px;
	font-size:16px;
	cursor:pointer;
}
.menu>ul>li ul>li:hover{
	background-color: #eee;
	border-left:2px solid #CCAA77
}
