#sidebar{
	position: fixed;
	width: 50px;
	height: 100px;
	/*background: #000;*/
	right: 20px;
	bottom: 10%;
}

#sidebar .toTop{
	display: none;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 6px;
	background-color: #ccc;
	text-align: center;
	line-height: 25px;
	cursor:pointer;
}
#sidebar .toTop:hover{
	background-color: #999;
	transition: all .3s;
}

#sidebar p{
	display: inline-block;
	border-width: 15px;
	border-color: transparent;
	border-bottom-color: #fff;
	width:0;
	height: 0;
	border-style:solid;
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-15px;
	margin-top:-22px;
}


