
<!--添加维修记录-->
<section class="wrap add-customer l">
	<h3>添加客户信息</h3>
	<div class="add-table">
		<table border="1">
			<thead>
				<tr>
					<th>名字*</th>
					<th>联系方式*</th>
					<th>车牌号</th>
					<th>车辆vin</th>
					<th>驾驶证号</th>
					<th>操作</th>
					<!-- <th>查看详情</th> -->
					<!-- <th></th> -->
				</tr>
			</thead>
			<tbody  ng-controller="addcustomerCtrl as customer">
				<tr>
					<td><input placeholder="输入客户名字" ng-model="customer.name" type="text"></td>
					<td>
						<input placeholder="电话" ng-model="customer.tel" type="text">
					
					</td>
					<td>
						<input placeholder="车牌号" ng-model="customer.carNo" type="text">
					
					</td>
					<td>
						<input placeholder="电话" ng-model="customer.vin" type="text">
					
					</td>
					<td>
						<input placeholder="电话" ng-model="customer.drivingLicense" type="text">
					
					</td>
					<!-- <td class="time">2016/11/15</td> -->
					<!-- <td class="td-ul">
						<input type="text" placeholder="输入修理类型" ng-model="customer.">
					</td> -->
					
					<td title="">
						<!-- <p><button class="detail-customer-info">详情</button></p> -->
						<p><button class="no-add" ng-click="customer.noAdd()">放弃</button></p>
						<p><button class="add-info" ng-click="customer.sureAdd()">保存</button></p>
					</td>
					<!-- <td><a href="#">详情</a></td> -->
					<!-- <td></td> -->
				</tr>
			</tbody>
		</table>
	</div>
</section>
