
				
				<!--添加维修记录-->
				<section class="wrap add-staff l">
					<h3>添加员工信息</h3>
					<div class="add-table">
						<table border="1">
							<thead>
								<tr>
									<th>名字</th>
									<th>入职时间</th>
									<!-- <th>修理类型</th> -->
									<!-- <th>费用(元)</th> -->
									<th>电话</th>
									<th>操作</th>
									<!-- <th>查看详情</th> -->
									<!-- <th></th> -->
								</tr>
							</thead>
							<tbody ng-controller="addstaff as staff">
								<tr >
									<td><input ng-model="staff.name" class="staff-name" placeholder="输入员工名字" type="text"></td>
									<td><input ng-model="staff.time" class="time" type="text"></td>
									<td>
										<input ng-model="staff.tel" class="staff-tel" placeholder="电话" type="text">
									</td>
									<td title="">
										<!-- <p><button class="detail-staff-info">详情</button></p> -->
										<p><button class="no-add" ng-click="staff.noAdd()">放弃</button></p>
										<p><button class="add-info" ng-click="staff.sureAdd()">保存</button></p>
									</td>
									<!-- <td><a href="#">详情</a></td> -->
									<!-- <td></td> -->
								</tr>
							</tbody>
						</table>
					</div>
				</section>
	