	<section class="wrap add-manager l" ng-controller="addmanager as manager">
					<h3>添加负责人信息</h3>
					<!--<div class="headImg l">
						<div>
							点击上传图片
							<input type="file" />
						</div>
					</div>-->
					<ul class="save-manager">
						<li><span>姓名</span><input type="text" placeholder="请输入姓名" ng-model="manager.name" /></li>
						<li><span>身份证号</span><input type="text" placeholder="请输入身份证号" ng-model="manager.idNum" /></li>
						<li><span>手机号码</span><input type="text" placeholder="请输入手机号码" ng-model="manager.tel" /></li>
						<button ng-click="manager.submit()">提交</button>
					</ul>
	</section>
	