<!--查看维修记录-->
<section class="wrap check-store l" ng-controller="checkstoreCost as stores">
	<h3>库存信息</h3>
	<div class="check-table">
		<table border="1">
			<thead>
				<tr>
					<th>零件名称</th>
					<th>时间</th>
					<th>成本价(元)</th>
					<th>售价(元)</th>
					<th>库存量</th>
					<th>备注</th>
					<th>操作</th>
					<!-- <th></th> -->
				</tr>
			</thead>
			<tbody>
				<tr title="点击查看详情" ng-repeat="store in stores.datas" dataid={{store.id}}>
					<td>{{store.name}}</td>
					<td>{{store.createTime}}</td>
					<td>
						{{store.primaryPrice}}
					</td>
					<td>{{store.salePrice}}</td>
					<td>{{store.number}}</td>
					<td> {{store.memo || '暂无'}} </td>
					<td title="">
						<p><button class="change-store-info" ng-click="stores.update($index)">更改</button></p>
						<p><button class="del-store-info" ng-click="stores.del($event)">删除</button></p>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
	<div class="update-table">
		<div>
			<table border="1" cellspacing="" cellpadding="">
				<thead>
					<tr>
						<th>零件名称</th>
						<th>时间</th>
						<th>成本价(元)</th>
						<th>售价(元)</th>
						<th>库存量</th>
						<th>备注</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="update-tr">
						<th><input type="text" ng-model="stores.changeData.name" /></th>
						<th><input type="text" ng-model="stores.changeData.createTime" /></th>
						<th><input type="text" ng-model="stores.changeData.primaryPrice" /></th>
						<th><input type="text" ng-model="stores.changeData.salePrice" /></th>
						<th><input type="text" ng-model="stores.changeData.number" /></th>
						<th><input type="text" ng-model="stores.changeData.memo" /></th>
						<th><button ng--click="stores.confirm($event)">确定</button><button class="cancel">取消</button></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>