<section class="wrap check-manager l" ng-controller="checkmanager as manager">
	<h3>负责人管理</h3>
	<div class="check-table">
		<table border="1">
			<thead>
				<tr>
					<th>负责人姓名</th>
					<th>负责人手机号</th>
					<th>负责人身份证号码</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr title="点击查看详情" ng-repeat="data in manager.datas" managerId={{data.id}}>
					<td class="manager-name"> {{data.name}} </td>
					<td class="manager-mobile"> {{data.mobile}} </td>
					<td class="manager-idNo"> {{data.idNo}} </td>
					<td title="">
						<p><button class="change-repair-info" ng-click="manager.update($index)">更改</button></p>
						<p><button class="del-repair-info" ng-click="manager.del($event)">删除</button></p>
					</td>
				</tr>
			</tbody>
		</table>
		<pagechange></pagechange>
	</div>
	<div class="update-table">
		<div>
			<table border="1" cellspacing="" cellpadding="">
				<thead>
					<tr>
						<th>负责人姓名</th>
						<th>负责人手机号</th>
						<th>负责人身份证号码</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
						<tr class="update-tr">
							<th><input type="text" ng-model="manager.changeData.name" /></th>
							<th><input type="text"  ng-model="manager.changeData.mobile" /></th>
							<th><input type="text"  ng-model="manager.changeData.idNo" /></th>
							<th><button ng--click="manager.confirm($event)">确定</button><button class="cancel">取消</button></th>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
